@import "../../../app.scss";

.myButton {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #34343a;
  height: 40px;
  border-radius: 20px;
  border: none;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;

  span {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    color: inherit;
    right: 50px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  i {
    display: flex;
    align-items: center;
    width: 20px;
    font-size: 20px;
    position: absolute;
    border-radius: 20px;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.selected {
  background-color: $second-color !important;
}
